* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body {
	margin: 3rem 2rem;
	font-size: 1.1rem;
}

.button {
	border: none;
	font-family: inherit;
	font-size: 1em;
	font-weight: 100;
	padding: 0.1rem 0.3rem;
	border-radius: 1rem;
	cursor: pointer;
}

.todo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	max-width: 800px;
}

.todo__header {
	background-color: #ffa2a6;
	border-radius: 1rem;
	padding: 0rem 1rem;
}

.todo__header__title {
	background-color: white;
	border-radius: 1rem;
	display: inline-block;
	position: relative;
	top: -0.8rem;
	border: #ffa2a6 solid 1px;
	margin: 0.1rem 0.1rem 1.5rem 0.1rem;
	padding: 0.1rem 0.3rem;
}

.todo__header__form {
	display: flex;
	flex-direction: column;
}

.todo__header__form__item {
	margin-bottom: 1rem;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1rem;
}

.todo__header__form__add {
	align-self: flex-end;
	color: white;
	background-color: black;
}

.todo__header__form__add:hover {
	background-color: white;
	color: black;
}

.todo__list {
	display: flex;
	flex-direction: column;
}

.todo__list__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #c2f2e3;
	border-radius: 1rem;
	margin-top: 0.5rem;
	padding: 2rem 0rem 2rem 1.2rem;
}

.todo__list__item__p {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.todo__list__item__remove {
	align-self: flex-end;
	margin-right: 1rem;
}

.todo__list__item--done {
	order: 1;
	background-color: #f2f2f2;
	color: #939393;
	text-decoration: line-through;
	font-style: italic;
}

.todo__list__item__remove__btn {
	color: white;
	background-color: #dd0b3a;
}

.todo__list__item__remove__btn:hover {
	background-color: #990d2b;
} */